#container-farm {
    margin-top: 80px;
}

#container-farm .btn {
  color: #FFFFFF;
  font-weight: bold;
}

#container-farm .btn-back {
  color: #5555;

}

#container-farm-card .cods-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}